---
layout: landing
---

<div class="home center-block">
  <h1>Hi, I'm Le Ba Hieu Giang</h1>
  <h3>(Or you can just call me Joe, it's fine)</h3>
  <h3>I'm a back-end developer based in Singapore. I like elegant code, cool ideas, green tea and cats.</h3>
  <h3>You can reach me via my <a href="mailto:{{ site.email }}">email</a>.</h3>
  <ul class="social-media-list">
    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li>
      {% include icon-linkedin.html username=site.linkedin_username %}
    </li>
    {% endif %}
  </ul>
</div>
